html, body {
  width: 100%;
  margin: 0;
}

body {
  background: #d7d7d7;
  font-family: sans-serif;
}

header {
  background: url("../images/background.jpg") repeat-x;
  width: 100%;
  text-align: center;
}

header img {
  padding-top: 20px;
}

div {
  width: 75%;
  margin: 25px auto;
  vertical-align: text-top;
}

div img {
  width: 100%;
}

p {
  font-size: 80%;
}

a {
  text-decoration: none;
  color: #f63a00;
  font-weight: bold;
}

section {
  max-width: 70%;
  background: white;
  display: inline-block;
  padding: 10px 20px;
  vertical-align: top;
}

section > p {
  border-top: 1px dotted black;
  border-bottom: 1px solid black;
  padding: 5px 0;
  margin-bottom: 30px;
}

aside {
  max-width: 20%;
  background: white;
  display: inline-block;
  padding: 10px 20px;
  margin-left: 15px;
  font-size: 80%;
  vertical-align: top;
}

aside img {
  padding: 5px 0;
}

h2 {
  font-size: 90%;
  margin-bottom: 0;
}

ul {
  margin-top: 2px;
  font-weight: bold;
  list-style-type: none;
  -webkit-padding-start: 0;
}

li {
  margin: 5px 0;
  font-size: 90%;
}

footer {
  margin-bottom: 50px;
  text-align: center;
}